.subject-header-style {
    background-color:blanchedalmond;
    font-size: larger;
    color: crimson;
    text-align: center;
    padding: 0.5rem 0;
}

.subject-header-style::after {
    content: attr(data-subject);
}