* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    width: 100%;
}

.navi-view {
    width: 20rem;
    height: 100vh;
    background-color: aqua;
}

.content-view {
    flex: 1;
    height: 100vh;
    background-color: lightgray;
    position: relative;
}

.wrap-page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}